.chat_container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  width: 90%;
  height: 90vh;
  border: solid black;
  border-radius: 10px;
}

.search_input {
  width: 100%;
  margin: 2%;
  align-items: center;
  height: 8vh;
  align-self: flex-end;
}

.input_context {
  display: flex;
  width: 100%;
}

.chat_message_container {
  height: 77vh;
  width: 100%;
  align-content: flex-end;
  overflow: auto;
  background-color: #222831;
}

.message_text {
  margin: 2%;
  display: flex;
}

.message_body_inner {
  width: fit-content;
  max-width: 70%;
  padding: 1%;
  border: 1px solid;
  border-radius: 10px;
}

.title {
  margin: auto;
  text-align: center;
  color: aliceblue;
}